@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft-cyan: #66e2dc;
    --soft-red: #fa7453;
    --light-orange: #ffb964;
    --light-grayish-orange:#fcfaf9;
    --very-dark-black: #191826;
}

.logo {
    margin: 3rem 0 0 7rem;
}

.container {
    background-image: url('../assets/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin: 12rem 0 0 7rem;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin: 2rem 0 0 7rem;
}

/************* BLACK CARD SECTION ******************/

.dark_row {
    background-color: var(--very-dark-black);
    background-image: url('../assets/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-position: top center;
    width: 1110px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15rem 0 0 7rem;
}

.app {
    width: 312px;
    height: 642px;
    margin-top: -12rem;
    margin-left: 4rem;
}
/******** light orange premium card *********************/
.download_premium {
    background-color: var(--soft-red);
    border-radius: 10px;
    width: 446px;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.download_premium h2 {
    color: var(--light-grayish-orange);
    margin: 1rem 0 0 4rem;
    font-size: 40px;
} 

.download_premium p {
    color: var(--light-grayish-orange);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin-left: 4rem;
} 

.download_premium span {
    font-size: 40px;
    font-weight: 600;
}

.download_premium a {
    text-decoration: none;
    margin-top: 2rem;
    margin-left: 4rem;
    padding-top: 20px;
}

.apple {
    background-color: var(--very-dark-black);
    color: var(--light-grayish-orange);
    width: 333px;
    height: 61px;
    border-radius: 10px;
    text-align: center;
    margin-top: 1rem;
    
}

.icon-apple {
    margin: -1px 10px;
}

.icon-android {
    margin: -1px 10px;
}

.apple:hover {
    background-color: var(--soft-cyan);
}

.android {
    background-color: var(--light-grayish-orange);
    color: var(--very-dark-black);
    width: 333px;
    height: 61px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
}

.android:hover {
    background-color: var(--light-orange);
}

footer {
    margin-top: 9rem;
}
.footer-logo {
    margin-left: 1rem;
}

footer p {
    margin-top: -0.3rem;
    margin-left: -5rem;
}

footer span {
    color: var(--very-dark-black);
    font-weight: 700;
    
}

footer .social-icons {
    margin: 0 10px;
}

footer .link:hover {
    background-color: var(--soft-red);
    color: var(--light-grayish-orange);
    text-decoration: none;
}

.link .social-icons:hover {
    color: var(--light-grayish-orange);
    cursor: pointer;
}

@media (max-width: 1023px) {
    .container {
        background-image: url('/starter-code/assets/bg-main-tablet.png');
        background-repeat: no-repeat;
    }

    .pattern-1 {
        width: 266.67px;
        height: 400px;
    }

    .dark_row {
        width: 696px;
        height: 600px;
        margin-left: 4rem;
    }

    .download_premium {
        height: 546px;
        width: 399px;
        margin-left: -8rem;
    }

    .download_premium a {
        margin-left: 2.5rem;
    }

    .app {
        width: 270.21px;
        height: 556px;
    }

    footer .row:nth-child(3) {
        margin: 5rem 0 0 9rem;
    }

    footer .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-logo {
        margin-left: 4rem;
    }

    footer p {
        margin-left: 4rem;
    }

    .social-icons {
        float: right;
        
    }

    .icon-section {
        float: right;
        margin-top: -4rem;
        margin-left: -5rem;
    }
}

@media(max-width: 767px) {
    .container {
        background-image: url('../assets/bg-main-mobile.png');
        background-repeat: no-repeat;
        background-positiion: center top;
    }

    .logo {
        margin-left: 2rem;
    }

    h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 5rem 0 0 2rem;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 2rem 0 0 2rem;
}

    .pattern-1 {
        display: none;
    }

    .dark_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
        height: 600px;
        margin-left: 0rem;
    }

    .download_premium {
        width: 375px;
        height: 546px;
        margin-left: 0.1rem;
    }
    
    .download_premium h2 {
        margin: 1rem 0 0 2rem;
    }
    
    .download_premium p {
        margin-left: 2rem;
    }

    .apple {
        width: 296px;
        height: 61px;
    }

    .android {
        width: 296px;
        height: 61px;
    }

    .app {
        width: 208.97px;
        height: 430px;
        margin-top: 8rem;
        margin-left: 1rem;
    }
    
    footer p{
        margin-left: 2rem;
        margin-right: 0rem;
        font-size: 16px;
    }

    footer .row{
        margin: 25rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footer-logo {
        margin-bottom: 2rem;
        margin-left: -9.5rem;
    }

    footer .social-icons {
        margin-top: 7rem;
        margin-right: -2rem;
        margin-left: 4rem;
        margin-bottom: 5rem;
    }
    
    .icon-section{
        margin-right: 0rem;
        margin-left: -18rem;
    }

}
