// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
// VARIABLES
// Colors
// primary colors
$strong_cyan: hsl(172, 67%, 45%);
$strong_cyan_lighter: lighten($strong_cyan, 30%);
// neutral colors
$very_dark_cyan: hsl(183, 100%, 15%);
$very_dark_cyan_lighter: lighten($very_dark_cyan, 10%);
$dark_grayish_cyan: hsl(186, 14%, 43%);
$grayish_cyan: hsl(184, 14%, 56%);
$light_grayish_cyan: hsl(185, 41%, 84%);
$very_light_grayish_cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
// Typography
// font-family
$ff: "Space Mono", sans-serif;
// font-weight
$fw_bold: 700;
// font-size
$fs_form_inputs: 2.4rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

input {
  border: none;
  border-radius: 7px;
  background-color: $very_light_grayish_cyan;
  font-family: $ff;
  font-size: $fs_form_inputs;
  color: $very_dark_cyan;
  width: 100%;
  padding: 0.75rem;
  cursor: pointer;
}

input:focus {
  outline: $strong_cyan 2px solid;
}

::placeholder {
  color: $very_dark_cyan;
  font-weight: $fw_bold;
  font-size: $fs_form_inputs;
}

button {
  border: none;
  background-color: $very_dark_cyan;
  color: $white;
  width: 15rem;
  padding: 1rem 0 1rem 0;
  border-radius: 7px;
  font-family: $ff;
  font-size: $fs_form_inputs;
  font-weight: $fw_bold;
  color: $very_light_grayish_cyan;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 20rem;
  }
  @media screen and (min-width: $desktop) {
    width: 11rem;
  }
}

button:hover {
  background-color: $strong_cyan_lighter;
  color: $very_dark_cyan;
}

button:focus {
  background-color: $strong_cyan;
}
// STYLES
body {
  font-family: $ff;
  font-size: 1.6rem;
  background-color: $light_grayish_cyan;
  color: $grayish_cyan;
  @media screen and (min-width: $desktop) {
    display: grid;
    place-items: center;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

header {
  display: flex;
  justify-content: center;
  .logo {
    width: 8rem;
    padding: 5rem 0 4rem 0;
    @media screen and (min-width: $desktop) {
      grid-area: "header";
      padding: 0;
      width: 9rem;
    }
  }
}

main {
  background-color: $white;
  max-width: 37.5rem;
  margin: auto;
  border-radius: 20px;
  padding: 4rem 3rem;
  @media screen and (min-width: $tablet) {
    max-width: 70rem;
  }
  @media screen and (min-width: $desktop) {
    grid-area: "main";
    max-width: 92rem;
    display: flex;
    gap: 5rem;
  }
}

form {
  @media screen and (min-width: $desktop) {
    width: 38rem;
  }
}

.bill-box {
  position: relative;
  margin-top: 0.5rem;
}

.bill-box > ::placeholder {
  text-align: right;
}

.bill-input {
  text-align: right;
}

.dollar-icon {
  position: absolute;
  top: 30%;
  left: 5%;
}

.select-tip {
  margin-top: 2.4rem;
  margin-bottom: 1.5rem;
}

.button-box {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 4.5rem;
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.button-box > ::placeholder {
  text-align: center;
}

.tip-custom {
  width: 15rem;
  height: 5.6rem;
  text-align: center;
  @media screen and (min-width: $tablet) {
    width: 20rem;
  }
  @media screen and (min-width: $desktop) {
    width: 11rem;
  }
}

.people-box {
  position: relative;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-areas:
    "label error"
    "input input";
  .label {
    grid-area: "label";
  }
  .error {
    text-align: right;
    grid-area: "error";
    color: orangered;
  }
  input {
    text-align: right;
    // This item will start on row 2 and column 1, and span 1 rows and 2 columns:
    grid-area: 2 / 1 / span 1 / span 2;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

// Add class in JavaScript
.people-box > input.invalid {
  border: none;
  outline: 2px solid orangered;
}

.person-icon {
  position: absolute;
  top: 55%;
  left: 5%;
}

.calculator {
  background-color: $very_dark_cyan;
  border-radius: 20px;
  padding: 4.5rem 2.5rem 2.3rem 2.5rem;
  @media screen and (min-width: $desktop) {
    width: 41rem;
  }
}

.calculator > .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator > .bottom {
  margin-bottom: 3rem;
}

.label > p {
  color: $very_light_grayish_cyan;
  &:nth-child(2) {
    color: $grayish_cyan;
    font-size: 1.3rem;
  }
}

.result {
  font-size: 3.25rem;
  color: $strong_cyan;
  //content: "\0024";
  //content: "$";
}

.reset-button {
  background-color: $strong_cyan;
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  color: $very_dark_cyan;
  &:focus {
    background-color: $very_dark_cyan_lighter;
  }
  &:hover {
    background-color: $strong_cyan_lighter;
  }
}

.second-bottom {
  margin-bottom: 3.5rem;
  @media screen and (min-width: $desktop) {
    margin-bottom: 13rem;
  }
}

footer {
  bottom: 0;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  a {
    color: $very_dark_cyan;
  }
  @media screen and (min-width: $desktop) {
    grid-area: "footer";
    position: absolute;
    font-size: 1.6rem;
  }
}
